/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require kevinstrap
*= require jqueryDataTables.min.css
*= require_self
*/

#login {
  margin: 15px 0px;
  padding: 0px;
  text-align: center;
}

#login .inner {
  width: 400px;
  padding-bottom: 6px;
  margin: 60px auto;
  text-align: left;
  border: 1px solid #aab;
  background-color: #f0f0fa;
  -moz-box-shadow: 2px 2px 2px #eee;
  -webkit-box-shadow: 2px 2px 2px #eee;
  -khtml-box-shadow: 2px 2px 2px #eee;
  box-shadow: 2px 2px 2px #eee;
}

#login .inner .fheader {
  padding: 18px 26px 14px 26px;
  background-color: #f7f7ff;
  margin: 0px 0 14px 0;
  color: #2e3741;
  font-size: 18px;
  font-weight: bold;
}

#login .inner .cssform p {
  clear: left;
  margin: 0;
  padding: 4px 0 3px 0;
  padding-left: 105px;
  margin-bottom: 20px;
  height: 1%;
}

#login .inner input[type="text"],
#login .inner input[type="email"],
#login .inner input[type="password"] {
  width: 300px;
}

#login .inner input[type="checkbox"] {
  height: 20px;
  width: 20px;
  padding: 8px;
  margin: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#login .inner .cssform label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-left: -105px;
  width: 110px;
  padding-top: 3px;
  padding-right: 10px;
}

#login #remember_me_holder {
  padding-left: 120px;
}

#login #submit {
  margin-left: 15px;
}

#login #remember_me_holder label {
  float: none;
  margin-left: 0;
  text-align: left;
  width: 200px
}

#login .inner .login_message {
  padding: 6px 25px 20px 25px;
  color: #c33;
}

#login .inner .text_ {
  width: 120px;
}

#login .inner .chk {
  height: 12px;
}

.tt-menu {
  background-color: #fff;
  border: 1px solid black;
  min-width: 400px;
  max-height: 500px;
  padding: 8px;
  color: var(--primary-color);
  opacity: 0.9;
  transition: opacity var(--fast-transition);
  overflow: hidden;
  z-index: 6;
}

.tt-menu:hover {
  opacity: 1;
}

.tt-suggestion {
  background-color: #fff;
  transition: background-color var(--fast-transition);
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  font-size: 1.2em;
}

.tt-suggestion:hover {
  background-color: #ccc;
  opacity: 1;
  transition: background-color var(--fast-transition);
  transition: opacity var(--fast-transition);
}

.step {
  padding: 6px;
}

.typeahead, .typeaheadCity, .typeaheadStateProvince, .typeaheadCountry {
  min-width: 300px;
  font-size: 1.2em;
}

table.dataTable tbody th,
table.dataTable tbody td {
  white-space: nowrap;
}

thead {
  margin: auto;
}